 <% if !logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= link_to image_tag("framgia.png", alt: "Framgia logo"),'http://framgia.com/' %>
      <p>
        This is the home page of Demo Project
      </p>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </aside>
    <div class="col-md-8">
      <h3>Entry Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="entry_form">
        <%= render 'shared/entry_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Entry Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% end %>



